// Widescreends
@include mediaLg {

}

// Laptop & smartphone
@include mediaMd {
    main {
        .products-wrapper {
            grid-template-columns: repeat(2,1fr);
            gap: 42px 6%;

            .product-price {
                margin-bottom:0;
            }
        }

        .detailLink-parent{
            .detailLink-item{
              margin: 30px auto 160px auto;
            } 
        }

        // Produts ページ

        .pagenation {
            margin-top:40px;
            padding-bottom:160px;
            display: flex;
            justify-content: center;
            gap: 40px;
          
        }

        // Detailページ

        .detail-wrapper {
            display:flex;
            flex-direction: column;

            .product-image{
                width:100%;
                margin-bottom:30px;
            }
            .text-area{
                width:100%;
                padding-left:0;
            }
        } 
        .backProducts {
            margin-top:40px;
            padding-bottom:160px;
            text-align:center;
          }


        // Companyページ
            .info-list {

            dl {
                dt{
                width:100%;
                border-bottom:none;
                padding-bottom:5px;
                }
                dd{
                    width:100%;
                    padding-top:5px;

                    }
                }
                .work{
                    margin-left:0;
                  }
            }
    }



    #footer {
        display: block;
        .sns {
            margin-bottom:0;
        }
        .copy {
            margin-top:0;
        }
    }
  
}