@import 'config';
@import 'menu';
@import 'mobile';




* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  color: $secondary-color;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
  line-height: 1.5;
  position: relative;
  margin:0;//ブラウザにデフォルトであるヘッダー上部の隙間を消すため
}
.wrapper {
  width: 100%;
  height:100%;
  max-width: 1360px !important;
  margin: 0 auto;
  padding: 0 40px;
}
img {
  max-width: 100%;
}

// Headings
h1, h2, h3 { 
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    width: 200px;
    height: auto;
    line-height: 0;

  }

  &.sm-heading{
    margin-bottom: 32px;
  }
}

a {
  color: #333;
  text-decoration: none;
}
li{
  list-style: none;
}

#header {//この設定でないとヘッダーが右に少し固定でずれた。意味がわからないバグだった
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2
}

.wrapper-header {
  width:100%;
  max-width: 1360px;
  margin:0 auto 0 auto;
  padding: 0 40px;
  display:flex;
  justify-content: space-between;
  background-color: red;
}

// Products
.products-wrapper {
  

  &a{
    display:inline-block;
  }
}

.product-item:hover > .product-image { //画像とテキストのホバー時に、.product-imageだけ光らせる。
    opacity:0.7;
    @include easeOut;
}

