@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  color: $secondary-color;
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
  line-height: 1.5;
  position: relative;
  margin:0;//ブラウザにデフォルトであるヘッダー上部の隙間を消すため
  min-height:100vh;//コピペー
}
.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
img {
  max-width: 100%;
}

// Headings
h1, h2, h3 { 
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    width: 200px;
    height: auto;
    line-height: 0;

  }

  &.sm-heading{
    margin-bottom: 32px;
  }
}

a {
  color: #333;
  text-decoration: none;
}
li{
  list-style: none;
}

#header {//この設定でないとヘッダーが右に少し固定でずれた。意味がわからないバグだった
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2
}

.wrapper-header {
  width:100%;
  max-width: 1360px;
  margin:0 auto 0 auto;
  padding: 0 40px;
  display:flex;
  justify-content: space-between;
}

// Products
.products-wrapper {
  padding-top:80px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:2.7%;

  &a{
    display:inline-block;
  }
}
.product-item {
  img {
    vertical-align: bottom;
  }
  p {
  margin-top:10px;
  font-size:12px;
  }
}

.product-item:hover > .product-image { //画像とテキストのホバー時に、.product-imageだけ光らせる。
    opacity:0.7;
    @include easeOut;
}
.detailLink-parent{
  text-align:center;
  .detailLink-item{
    display:inline-block;
    margin: 40px auto 160px auto;
    text-align: center;
  }
  
}

// Productsページ
.section-title {
  padding-top:120px;
  font-size:14px;
  margin-bottom:-50px;
}
.pagenation {
  margin-top:80px;
  margin-bottom:0;
  padding-left:0;
  padding-bottom:160px;
  display: flex;
  justify-content: center;
  gap: 40px;

}

// Dtailsページ
.detail-wrapper {
  max-width: 800px;
  padding-top:80px;
  display:flex;

  .product-image{
    width:50%;
  }

  .text-area{
    width:50%;
    padding-left:65px;
    font-size:14px;

    .text-detail,.product-price{
      margin-top:0;
      margin-bottom:30px;
    }

    dl {
      display: flex;
      flex-wrap: wrap;
      width:100%;
      dt {
        width: 30%;
      }
      dd {
        margin-left:0;
        width: 70%;
      }
    }
  }
}
.backProducts {
  margin-top:50px;
  text-align:center;
}

// About ページ
.about-wrapper {
  max-width: 600px;
  padding-top:80px;


  .text-about {
    font-size:14px;
    line-height:27px;
    margin-top:0;
    margin-bottom:30px;
  }

}

// Company ページ
.info-list {
  font-size:14px;
  margin-bottom:40px;
  dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
    dt {
      width:30%;
      padding-top:20px;
      padding-bottom:20px;
      border-bottom:1px solid #DBDBDB;
    }
    dd {
      width:70%;
      margin-left:0;
      padding-top:20px;
      padding-bottom:20px;
      border-bottom:1px solid #DBDBDB;
    }
    .first{
      padding-top:10px;
    }
    .work-responsive{
      padding-bottom:0;
      border-bottom:none;
    }
    .work{
      margin-left:180px;
      padding-top:0;
      padding-bottom:0;
      border-bottom:none;
    }
  }
}
.iframe-wrp {
  height:300px;
  position: relative;
  width: 100%;
  filter:grayscale(100%);
  
  iframe {
    width: 100%;
    height:100%;
  }
}
.company {//フッターとの距離感覚調整。固定フッターの場合、wrapperにフッター分の高さをつけておく
  padding-bottom:160px;
}


// footer setting  フッターの位置調整が面倒くさかったのでコピペー
#footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 0;//left と right の両方が定義された場合、他のプロパティで制約されていなければ、要素は両方を満たすように引き伸ばされます。
  right: 0;//left と right の両方が定義された場合、他のプロパティで制約されていなければ、要素は両方を満たすように引き伸ばされます。
}

.sns {
  padding:0;
  display:flex;
  gap:30px;
  font-size:12px;
}
.copy {
  font-size:10px;
}









@import 'mobile';//cssの一番下に置く
